@import 'media';
html,
body {
    height: 100vh;
    overflow: hidden;
}

#app {
    height: 100vh;
    width: 100vw;
    background: var(--app-color);
}

.layout-home,
.layout-quizz,
.layout-teams {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}